@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}
.container {
  width: 1320px;
  margin: 0 auto;
}

/* -------------------------------------Headerpart---------------------------------------- */
#banner-1st {
  background: linear-gradient(180deg, #000000e7 0%, rgba(241, 237, 248, 0) 100%),
    url(../img/Banner\ Image.png);
  border-radius: 16px;
  background-blend-mode: overlay;
  height: 600px;
  width: 1320px;
  margin: 0 auto;
  margin-bottom: 120px;
}
.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
}
.header-p-tex {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 16px;
}
.header-h1-text {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  width: 632px;
}

/* -------------------------------------60% Discount Part------------------------------------ */

.discount-off-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}
.discount-h2-text {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}
.discount-p-text {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.discount-h3-text {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}

/*--------------------------------------Well-Come-Part---------------------------------------- */
#well-come-section {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../img/Vectorrr.png);
  width: 1320px;
  height: 600px;
  display: flex;
  align-items: center;
}
.well-come-content {
  width: 719px;
  height: 322px;
  color: #fff;
  margin-left: 126px;
}
.well-come-h3-text {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
  margin-bottom: 24px;
}
.well-come-p-text {
  color: rgba(255, 255, 255, 0.645);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 48px;
}
.btn {
  color: #ffffff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}
/*---------------------------------------------Date and Time---------------------------------------*/
#time-and-date {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  margin-top: 120px;
  width: 1320px;
  height: 482px;
}
.time-menu-wraper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.time-and-place {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
BUtton {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: none;
  background: #f00;
  color: #fff;
  margin-top: 48px;
}
/* ----------------------------------------coming-soon-----------------------------------------*/
#coming-soon {
  /* margin-top: 120px; */
  position: relative;
}

.coming-soon-menu-wraper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/*-----coming-soon-menu-one------- */

.coming-soon-menu-one {
  width: 30%;
}

.menu-one-p-text {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.menu-one-h3-text {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 22px;
}
.menu-one-p-text-2 {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

/*-------- coming-soon-menu-tow----- */
.coming-soon-menu-tow {
  width: 467px;
  height: 465px;
}
.coming-soon-picther {
  border: solid 10px red;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  left: 35%;
}
.coming-soon-picther > img {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 15px;
}

/*----------- coming-soon-menu-three --------*/
.coming-soon-menu-three {
  width: 30%;
  padding: 2%;
}
.menu-three-h3-number {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}
.menu-three-p-text {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin-bottom: 43px;
  padding-right: 47px;
}
/*----------------------------------------------------------------------WHAT IS FUNCTIONAL- ---------------------------------------------*/
#function-content {
  margin-top: 120px;
  height: 1014px;
  position: relative;
}

.function-content-menu-wraper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.function-content-h4-text {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.function-content-h2-text {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 16px;
}
.function-content-p-text {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 160% */
  /* padding: 0 248px 0 248px; */
}
/*--------------------function-content-banner------------------- */
.function-content-banner {
  padding-top: 120px;
}
.color {
  width: 1320px;
  height: 229px;
  border-radius: 16px 0px 16px 16px;
  background-color: #f00;
  position: absolute;
  top: 80%;
  z-index: -1;
}
.girl {
  position: absolute;
  top: 37.5%;
  right: 0;
}
.discount {
  position: absolute;
  top: 40%;
  right: 20%;
  z-index: +1;
}
/*----------------------------------------------Our Awesome Portfolio------------------------------------------*/
#awesone-portfolio {
  margin-top: 120px;
}
.awesome-Portfolio-p-text {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.awesome-Portfolio-h4-text {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 22px;
}
.awesome-Portfolio-p-text-2 {
  width: 70%;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin-bottom: 48px;
}
/*--------------------------------------------------------Subscribe-Newsletter----------------------------------- */
#subscribe-newsletter {
  width: 1320px;
  height: 616px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  margin-top: 120px;
}
.subscribe-menu-wraper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.subscribe-h4-text {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: normal;
  margin-top: 40px;
}
.subscribe-p-text {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  width: 60%;
  margin-top: 22px;
}

.submit-text {
  width: 648px;
  height: 72px;
  border-radius: 50px;
  background: #fff;
  margin-top: 48px;
  display: flex;
  align-items: center;
  position: relative;
}
.usergmail {
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  padding-left: 20px;
  color: #0702114d;
}
.submit-two-part {
  width: 210px;
  height: 72px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  position: absolute;
  top: 0;
  right: 0;
}
.submit-subscribe {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}
/* -------------------------------------Footer-------------------------------------------- */
#footer-part {
  width: 100%;
  height: 609px;
  background: #070211;
  margin-top: 120px;
}
.footer-menu-wraper {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  padding-top: 120px;
}
.address {
  width: 30%;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
}
.number {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.number>img{
  padding:15px 10px 0 0;

}
.footer-icon{
  text-align: center;
  margin-top: 98px;
}
.footer-icon>img{
  padding-left: 24px;
}